# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [4]:
full_data = pd.read_json('data/world_bank_projects.json')
full_data['mjthemecode']

0             8,11
1              1,6
2         5,2,11,6
3              7,7
4              5,4
5              6,6
6              2,4
7             11,8
8             10,7
9            2,2,2
10            10,2
11       10,6,6,11
12               4
13         5,11,10
14           6,6,6
15         10,11,5
16            10,2
17             8,7
18       8,8,2,7,8
19           2,2,2
20             7,7
21             9,7
22             7,7
23             8,8
24      10,10,10,6
25        11,11,11
26         4,5,2,8
27        11,2,5,6
28         10,10,7
29            7,11
          ...
470           5,10
471      10,7,11,7
472          11,11
473           11,4
474            9,9
475            4,9
476           10,8
477           4,10
478         2,3,11
479            7,1
480           2,11
481        8,7,7,8
482    10,11,11,10
483    11,11,10,11
484      10,4,7,10
485            8,4
486        2,6,6,6
487    11,10,10,11
488        8,2,2,8
489        9,6,6,9
490            2,2
491          10,11
492            8,7
493           11,5
494            6,8
495            4,7
496        8,5,2,8
497           10,6
498       10,10,10
499        9,8,5,4
Name: mjthemecode, Length: 500, dtype: object

In [6]:
full_data['countryshortname'].value_counts()[0:10]

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Morocco               12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [9]:
q2 = json.load(open('data/world_bank_projects.json'))

In [10]:
q2b = json_normalize(q2, 'mjtheme_namecode')

In [11]:
q2b['name'].value_counts()[:10]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [12]:
q2b.columns

Index(['code', 'name'], dtype='object')

In [13]:
code_name = q2b

In [14]:
import numpy as np
code_name['name'] = code_name['name'].replace('',np.nan)
###anytime name is missing, replace it with NAN

In [15]:
code_name_full = code_name.dropna()
code_name_full.columns

Index(['code', 'name'], dtype='object')

In [16]:
full_data.columns
type(code_name_full)

pandas.core.frame.DataFrame

In [17]:
###merge data together by code and replace missing theme names with associated code number/names
final = pd.merge(full_data, code_name_full, how='inner', left_on='mjthemecode', right_on='code')

In [18]:
final['name'].value_counts()[:10]

Environment and natural resources management    669
Public sector governance                        368
Rural development                               202
Financial and private sector development        130
Social dev/gender/inclusion                     119
Urban development                                47
Name: name, dtype: int64